<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- mapper.java接口地址 -->
<mapper namespace="cn.card.dao.CardMapper">

	<!-- 用于上传文件时向card表里插入数据 -->
	<insert id="createRecord" parameterType="cn.card.domain.CardQueryVo">
		INSERT INTO card(username, background, name, occupation_list, email_list, phone_list, address_list)
		VALUES (#{cardCustom.username}, #{cardCustom.background},
				#{cardCustom.name}, #{cardCustom.occupation_list},
				#{cardCustom.email_list}, #{cardCustom.phone_list},
				#{cardCustom.address_list})
	</insert>

	<!-- 用于在用户信息上传后向card表里更新数据 -->
	<update id="updateCardInfo" parameterType="cn.card.domain.CardQueryVo">
		UPDATE card SET name=#{cardCustom.name}, occupation_list=#{cardCustom.occupation_list},
						email_list=#{cardCustom.email_list}, phone_list=#{cardCustom.phone_list},
						address_list=#{cardCustom.address_list}
		WHERE id=#{cardCustom.id};
	</update>

	<!-- 用于查询所有的card信息记录 返回list -->
	<select id="findRecordList" parameterType="cn.card.domain.CardQueryVo" resultType="cn.card.domain.CardCustom">
		SELECT * FROM card
		WHERE username=#{cardCustom.username}
	</select>

	<!-- 删除一个名片 -->
	<delete id="deleteCard" parameterType="cn.card.domain.CardQueryVo">
		DELETE FROM card
		WHERE id = #{cardCustom.id}
	</delete>

	<!-- 通过ID和username查找一个名片 -->
	<select id="findCardByIDAndUsername" parameterType="cn.card.domain.CardQueryVo" resultType="cn.card.domain.CardCustom">
		SELECT *
		FROM card
		WHERE id = #{cardCustom.id} AND username = #{cardCustom.username}
	</select>

</mapper>