<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- mapper.java接口地址 -->
<mapper namespace="cn.card.dao.UserMapper">
	
	<!-- 定义SQL片段 -->
	<sql id="query_where_username">
		user.username=#{userCustom.username}
	</sql>
	
	<select id="findUserByUserName" parameterType="cn.card.domain.UserQueryVo" 
			resultType="cn.card.domain.UserCustom">
		SELECT * FROM user
		<where>
			<include refid="query_where_username"/>
		</where>
	</select>

	<!-- 根据当前用户名和用户密码查找用户 -->
	<select id="findUserByUsernameAndPassword" parameterType="cn.card.domain.UserQueryVo"
			resultType="cn.card.domain.UserCustom">
		SELECT * FROM user
		WHERE user.username=#{userCustom.username} AND user.password=#{userCustom.password}
	</select>

	<!-- 新建用户  -->
	<insert id="createNewUser" parameterType="cn.card.domain.UserQueryVo">
		INSERT INTO user(username, password) VALUES (#{userCustom.username},#{userCustom.password})
	</insert>
	
	<!-- 更新用户 -->
	<update id="updateUserInfo" parameterType="cn.card.domain.UserQueryVo">
		UPDATE user
		<set>
			<if test="userCustom.name!=null and userCustom.name!= '' ">
				name=#{userCustom.name},
			</if>
			<if test="userCustom.occupation_list!=null and userCustom.occupation_list != '' ">
				occupation_list=#{userCustom.occupation_list},
			</if>
			<if test="userCustom.email_list!=null and userCustom.email_list != '' ">
				email_list=#{userCustom.email_list},
			</if>
			<if test="userCustom.phone_list!=null and userCustom.phone_list != '' ">
				phone_list=#{userCustom.phone_list},
			</if>
			<if test="userCustom.address_list!=null and userCustom.address_list != '' ">
				address_list=#{userCustom.address_list}
			</if>
		</set>
		<where>
			<include refid="query_where_username"/>
		</where>
	</update>
</mapper>