<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置管理token的切面的bean -->
    <bean id="tokenManager" class="cn.card.utils.access_token.TokenManagerImpl"/>

    <bean id="securityAspect" class="cn.card.utils.access_token.advice.SecurityAspect">
        <property name="tokenManager" ref="tokenManager"/>
        <property name="userService" ref="userService"/>
    </bean>
    <!-- 配置切面的信息 -->
    <aop:config>
        <aop:pointcut id="securityPointCut" expression="execution(* cn.card.controller..*(..))"/>
        <aop:aspect ref="securityAspect">
            <aop:around method="execute" pointcut-ref="securityPointCut"/>
        </aop:aspect>
    </aop:config>

</beans>