<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <!--
       同时还有很多的参数绑定方法，如JSON的转换解析器等
    -->
    <mvc:annotation-driven validator="validator"/>

    <context:component-scan base-package="cn.card.controller"/>

    <!-- 静态资源默认servlet配置 加入对静态资源的处理：js，css，gif，png 允许使用"/"做整体映射 -->
    <mvc:default-servlet-handler />

    <!-- 全局异常处理器 -->
    <bean class="cn.card.exception.ExceptionHandler"/>
        
        <!-- 对静态资源的访问 -->
        <!--
		<mvc:resources mapping="/css/**" location="/css/" />  
		<mvc:resources mapping="/image/**" location="/image/" />  
		<mvc:resources mapping="/js/**" location="/js/" />   
		以上的配置：css，image，js放置在webapp目录下，页面中使用时：localhost:8080/css/aaa.css
		-->

    <!-- 设置文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <!-- 设置最大文件上传尺寸为5M -->
            <value>5242880</value>
        </property>
    </bean>

    <!-- 配置后端数据校验器 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- 指定校验器 -->
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 指定校验信息源文件 -->
        <property name="validationMessageSource" ref="messageResource"/>
    </bean>

    <!-- 设置校验信息源文件 -->
    <bean id="messageResource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:CustomValidationMessages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="120"/>
    </bean>

</beans>